{% extends 'base.html' %}
{% load static %}

{% block extend_head %}

    <title>Passwords</title>

{% endblock %}
{% block content %}

  <h2 class="header" style="background-color: tomato;">Passwords</h3>

  <div class="container">
    
    <h4>Passwords <a href="{% url 'vault:create_password' %}"><img class="add-icon" src="{% static 'img/add-icon.png' %}" alt="Plus icon"></a></h4>
    {% if passwords %}

      <div class="cards-container">
        {% for password in passwords %}

            <div class="card" id="password-card" style="width: 18rem; margin: 10px;">
                <div class="card-img-container" id="password-cap">
                    <img class="card-img-top" src="{% static 'img/password.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{  password.name }}</h5>
                </div>
                <div class="card-body">
                    <div class="card-link-container">
                        <a href="{% url 'vault:detail_password' password.id %}" class="link-container card-view-btn card-link">View</a>
                        <a href="{% url 'vault:update_password' password.id %}" class="link-container card-edit-btn card-link">Edit</a>
                        <a href="{% url 'vault:delete_password' password.id %}" class="link-container card-delete-btn card-link">Delete</a>
                    </div>
                </div>
            </div>

        {% endfor %}
      </div> 

    {% else %}
        <p>You have not registered passwords</p>
    {% endif %}

  </div>

{% endblock %}

{% block extend_footer %}
    <script type="text/javascript">

        let hoveredSrc = "{% static 'img/add-icon-hovered.png' %}";
        let unhoveredSrc = "{% static 'img/add-icon.png' %}";

    </script>

    <script type="text/javascript" src="{% static 'toggle_add_icon.js' %}"></script>
{% endblock %}