{% extends 'base.html' %}
{% load static %}

{% block extend_head %}

    <title>Payment cards</title>

{% endblock %}

{% block content %}

  <h2 class="header" style="background-color: rgb(74, 71, 255);">Payment Cards</h3>

  <div class="container">
    
    <h4>Payment Cards <a href="{% url 'vault:create_payment_card' %}"><img class="add-icon" src="{% static 'img/add-icon.png' %}" alt=""></a></h4>
    {% if payment_cards %}

      <div class="cards-container">

        {% for payment_card in payment_cards %}

            <div class="card" id="payment-card-card" style="width: 18rem; margin: 10px;">
                <div class="card-img-container" id="payment-card-cap">
                    <img class="card-img-top" src="{% static 'img/payment_card.png' %}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{  payment_card.name }}</h5>
                </div>
                <div class="card-body">
                    <div class="card-link-container">
                        <a href="{% url 'vault:detail_payment_card' payment_card.id %}" class="link-container card-view-btn card-link">View</a>
                        <a href="{% url 'vault:update_payment_card' payment_card.id %}" class="link-container card-edit-btn card-link">Edit</a>
                        <a href="{% url 'vault:delete_payment_card' payment_card.id %}" class="link-container card-delete-btn card-link">Delete</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    
      </div>

    {% else %}
        <p>You have not registered payment cards</p>
    {% endif %}

  </div>

{% endblock %}

{% block extend_footer %}
    <script type="text/javascript">

        let hoveredSrc = "{% static 'img/add-icon-hovered.png' %}";
        let unhoveredSrc = "{% static 'img/add-icon.png' %}";

    </script>

    <script type="text/javascript" src="{% static 'toggle_add_icon.js' %}"></script>
{% endblock %}