{% extends 'base.html' %}
{% load static %}

{% block extend_head %}

    <title>Password generator</title>

{% endblock %}

{% block content %}

    <h2 class="header">Password generator</h3>

    <div id="password-generator-container">
        <h2 class="text-center mb-4 password-generator-header">Generate a secure password</h2>
        <form id="passwordgeneratorform" action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <div class="form-check"><input name="lower" class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Lower case letters</label></div>
            </div>
            <div class="mb-3">
                <div class="form-check"><input name="upper" class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Upper case letters</label></div>
            </div>
            <div class="mb-3">
                <div class="form-check"><input name="numbers" class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Numbers</label></div>
            </div>
            <div class="mb-3">
                <div class="form-check"><input name="symbols" class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Symbols</label></div>
            </div>
            <div class="mb-3"><input name="length" max="16" min="1" class="form-control" required type="number" style="margin: 15px 0px;" placeholder="Password length"></div>
            <button class="btn btn-primary d-block w-100" type="submit" style="background-color: #3c4a54ff;">Generate</button>
        </form>
        <hr>
        <input id="password-readonly" type="text" style="margin-top: 20px;width: 75%;border-radius: 5px;border: 0.3px solid #cccccc;height: 37px;background: rgba(204,204,204,0.3);" readonly="true"><button onclick="copyToClipBoard('password-readonly');" class="btn btn-primary" type="button" style="color: white; background-color: #3c4a54ff; width: 20%;margin-top: -4px;height: 37px;margin-left: 12px;font-size: 12px;text-align: center;">Copy</button>
    </div>

{% endblock %}

{% block extend_footer %}

    <script>
        

        function copyToClipBoard(element) {
            /* Get the text field */
            var copyText = document.getElementById(element);
        
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
        
            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
            
            /* Alert the copied text */
            alert("Copied the text: " + copyText.value);
        }

    </script>

{% endblock %}